.firstHeader {
    @media screen and (max-width: 768px) {
      .mobiledisplay {
        display: none;
      }
    }
  
    background-color: $myGrey;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: $heightPadding $sidePadding;
    color: $myWhite;
  
    .firstHeaderDiv1 {
      display: flex;
      justify-content: space-evenly;
      width: 48vw;
      align-items: center;
    }
    .firstHeaderDiv2 {
      display: flex;
      justify-content: space-evenly;
      width: 46vw;
      align-items: center;
      .flagngn {
        align-items: center;
        width: 15vw;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .secondHeader {
    @media screen and (min-width: 768px) {
      .show {
        display: none;
      }
    }
    @media screen and (max-width: 768px) {
      .secondHeaderDiv1 img {
        width: 150px;
      }
      .mobile {
        display: none;
      }
    }
  
    @media screen and (max-width: 768px) {
      .mobiledisplay {
        display: none;
        list-style: none;
      }
    }
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: $heightPadding;
    align-items: center;
  
    .secondHeaderDiv2 {
      display: flex;
      @media screen and (max-width: 768px) {
      }
    }
  
    .secondHeaderDiv2 ul {
      list-style: none;
      display: flex;
      width: 40vw;
      justify-content: space-evenly;
      @media screen and (min-width: 768px) {
        .mobiledisplay {
          display: none;
          @at-root {
            &_t {
              display: none;
            }
          }
        }
      }
    }
    .secondHeaderDiv3 {
      display: flex;
      width: 25vw;
      justify-content: space-between;
      button {
        color: $myWhite;
        background-image: linear-gradient(#ef9b11, #405558);
        width: 90px;
        height: 30px;
        border-radius: 20px;
      }
    }
  }
  .show img {
    padding-right: 20px;
  }
  .secondHeaderDiv1 img {
    padding-left: 20px;
  }
  h2 {
    font-size: 2rem;
    line-height: 1.2;
    @media screen and (min-width: 540px) {
      font-size: 32px;
    }
    @media screen and (min-width: 768px) {
      font-size: 48px;
    }
    @media screen and (min-width: 768px) {
      font-size: 60px;
    }
  }
  p {
      font-size: 1rem;
      line-height: 1.4;
      @media screen and (min-width: 768px) {
        font-size: 1.3rem;
      }
  }
  .firstSection {
    background: {
      image: url(/images/section1BGman.svg);
      size: cover;
      position: 50% 0%;
      repeat: no-repeat;
    }
    min-height: 340px;
    height: 70vh;
    width: 100%;
    padding: 0 $sidePadding;
    color: #12082d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    * {
      max-width: 50%;
      @media screen and (min-width: 768px) {
          max-width: 65%;
      }
  
    }
  }
  