* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 12px;
}

.firstHeader {
  background-color: #40555880;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.firstHeader .firstHeaderDiv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.firstHeader .firstHeaderDiv2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  .firstHeader .nodisplay {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .firstHeader .nodisplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.secondHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 770px) {
  .secondHeader .nodisplay {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .secondHeader .nodisplay a {
    text-decoration: none;
    color: black;
  }
}

@media screen and (max-width: 770px) {
  .secondHeader .nodisplay a {
    display: none;
    text-decoration: none;
  }
  .secondHeader .getStartednbutton {
    display: none;
  }
}

@media screen and (min-width: 770px) {
  .secondHeader .threeLines {
    display: none;
  }
  .secondHeader .getStartednbutton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .secondHeader .getStartednbutton button {
    height: 25px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
    background-image: linear-gradient(#ef9b11, #405558);
    width: 80px;
    border-radius: 20px;
    color: #fff;
  }
}

.firstSection {
  background-image: url(/images/section1BGman.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40vw;
  display: flex;
}

.firstSection h1 {
  width: 80vw;
  padding-left: 6vw;
  padding-top: 40%;
  padding-top: 4vh;
  font-size: 35vw;
  padding: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstSection p {
  width: 60%;
  font-size: 11px;
  padding-left: 6vw;
  padding-top: 2vh;
  font-weight: 500;
  padding: 0 25px;
}

@media screen and (min-width: 770px) {
  .firstSection h1 {
    padding-top: 40%;
    padding-top: 8vh;
    font-size: 30px;
  }
  .firstSection p {
    width: 60%;
  }
}

@media screen and (max-width: 770px) {
  .firstSection h1 {
    padding-top: 10vh;
    font-size: 30px;
  }
  .firstSection p {
    width: 70%;
    font-size: 10px;
  }
}

@media screen and (max-width: 486px) {
  .firstSection h1 {
    padding-top: 8vh;
    font-size: 30px;
  }
  .firstSection p {
    width: 70%;
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .firstSection h1 {
    width: 70%;
    padding-top: 8vh;
    font-size: 15px;
    line-height: 15px;
  }
  .firstSection p {
    width: 70%;
    font-size: 8px;
  }
}

@media screen and (min-width: 520px) {
  .firstSection h1 {
    padding-top: 8vh;
    font-size: 30px;
  }
  .firstSection p {
    width: 70%;
    font-size: 15px;
  }
}

.secondSection {
  background-image: url(/images/SECTION2BG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 80vw;
  padding: 0 25px;
}

.secondSection .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.secondSection .services > div {
  padding-left: 15px;
  padding-top: 12px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 1px 3px 3px #888888;
          box-shadow: 1px 3px 3px #888888;
  width: 120px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 770px) {
  .secondSection .services {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */