* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 12px;
}

.firstHeader {
  background-color: #40555880;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.firstHeader .firstHeaderDiv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.firstHeader .firstHeaderDiv2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  .firstHeader .nodisplay {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .firstHeader .nodisplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.secondHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 770px) {
  .secondHeader .nodisplay {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .secondHeader .nodisplay a {
    text-decoration: none;
    color: black;
  }
}

@media screen and (max-width: 770px) {
  .secondHeader .nodisplay a {
    display: none;
    text-decoration: none;
  }
  .secondHeader .getStartednbutton {
    display: none;
  }
}

@media screen and (min-width: 770px) {
  .secondHeader .threeLines {
    display: none;
  }
  .secondHeader .getStartednbutton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .secondHeader .getStartednbutton button {
    height: 25px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
    background-image: linear-gradient(#ef9b11, #405558);
    width: 80px;
    border-radius: 20px;
    color: #fff;
  }
  .secondHeader .getStartednbutton button:hover {
    zoom: 110%;
    color: white;
    cursor: pointer;
  }
}

.firstSection {
  background-image: url(/images/section1BGman.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40vw;
  display: flex;
}

.firstSection h1 {
  width: 80vw;
  padding-left: 6vw;
  padding-top: 40%;
  padding-top: 4vh;
  font-size: 35vw;
  padding: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstSection p {
  width: 60%;
  font-size: 11px;
  padding-left: 6vw;
  padding-top: 2vh;
  font-weight: 500;
  padding: 0 25px;
}

@media screen and (min-width: 770px) {
  .firstSection h1 {
    padding-top: 40%;
    padding-top: 8vh;
    font-size: 30px;
  }
  .firstSection p {
    width: 60%;
  }
}

@media screen and (max-width: 770px) {
  .firstSection h1 {
    padding-top: 10vh;
    font-size: 30px;
  }
  .firstSection p {
    width: 70%;
    font-size: 10px;
  }
}

@media screen and (max-width: 486px) {
  .firstSection h1 {
    padding-top: 8vh;
    font-size: 30px;
  }
  .firstSection p {
    width: 70%;
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .firstSection h1 {
    width: 70%;
    padding-top: 8vh;
    font-size: 15px;
    line-height: 15px;
  }
  .firstSection p {
    width: 70%;
    font-size: 8px;
  }
}

@media screen and (min-width: 520px) {
  .firstSection h1 {
    padding-top: 8vh;
    font-size: 30px;
  }
  .firstSection p {
    width: 70%;
    font-size: 15px;
  }
}

.secondSection {
  background-image: url(/images/SECTION2BG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0 30px;
}

.secondSection h1 {
  font-size: 26px;
}

.secondSection .line {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.secondSection .majorBorder .big_border {
  width: 100%;
  padding-top: 2%;
  border-radius: 15px;
  -webkit-box-shadow: 1px 3px 3px #888888;
          box-shadow: 1px 3px 3px #888888;
  background-color: white;
}

.secondSection .majorBorder .big_border div {
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondSection .majorBorder .big_border div img {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.secondSection .majorBorder .big_border h2 {
  font-size: 5vw;
  padding-left: 8vw;
}

.secondSection .majorBorder .big_border p {
  padding-left: 8vw;
  font-size: 3vw;
  padding-bottom: 30px;
}

@media screen and (min-width: 770px) {
  .secondSection h1 {
    font-size: 39px;
  }
  .secondSection .majorBorder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 400px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .secondSection .majorBorder .big_border,
  .secondSection .majorBorder .big_border2 {
    padding-bottom: 25px;
    width: 70vw;
    width: 31%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-top: 1%;
    border-radius: 15px;
    -webkit-box-shadow: 1px 3px 3px #888888;
            box-shadow: 1px 3px 3px #888888;
    background-color: #fff;
    gap: 20px;
  }
  .secondSection .majorBorder .big_border div,
  .secondSection .majorBorder .big_border2 div {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .secondSection .majorBorder .big_border div img,
  .secondSection .majorBorder .big_border2 div img {
    width: 90%;
    height: 250px;
    padding-top: 1px;
    -o-object-fit: cover;
       object-fit: cover;
    padding-bottom: 20px;
  }
  .secondSection .majorBorder .big_border h2,
  .secondSection .majorBorder .big_border2 h2 {
    font-size: 1.8vw;
    padding-left: 3vw;
  }
  .secondSection .majorBorder .big_border p,
  .secondSection .majorBorder .big_border2 p {
    padding-left: 3vw;
    font-size: 1.8vw;
    padding-bottom: 10px;
    width: 100%;
  }
}

.services, .services .services:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.services > div, .services .services:hover > div {
  padding-left: 15px;
  padding-top: 12px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 1px 3px 3px #888888;
          box-shadow: 1px 3px 3px #888888;
  width: 120px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.services .services:hover .services:hover > div, .services .services:hover > div {
  -webkit-box-shadow: 1px 3px 9px #888888;
          box-shadow: 1px 3px 9px #888888;
}

@media screen and (max-width: 770px) {
  .services, .services .services:hover {
    display: none;
  }
  .big_border2,
  .big_border3 {
    display: none;
  }
}

.thirdSection {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef9b1180), to(#40555880));
  background-image: linear-gradient(#ef9b1180, #40555880);
  min-height: 500px;
  padding: 25px 25px;
}

.thirdSection .girlwithphone img {
  width: 75vw;
  -ms-flex-line-pack: center;
      align-content: center;
}

.thirdSection .whatwedo {
  display: none;
}

.thirdSection .finfreed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.thirdSection h1 {
  padding: 5px 5px;
  font-size: 26px;
}

.thirdSection h3 {
  color: #fff;
  font-size: 1.6rem;
}

.thirdSection p {
  color: #fff;
  line-height: 30px;
  font-size: 1rem;
}

.thirdSection .createAcctbtn button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
  background-image: linear-gradient(#ef9b11, #405558);
  width: 200px;
  height: 60px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 5px #00000040;
          box-shadow: 0px 5px 5px #00000040;
  color: #fff;
}

.thirdSection .ebankingbtn button {
  background-color: transparent;
  width: 200px;
  height: 60px;
  color: #fff;
  border: 2px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 5px #00000040;
          box-shadow: 0px 5px 5px #00000040;
}

@media screen and (min-width: 770px) {
  .thirdSection {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ef9b1180), to(#40555880));
    background-image: linear-gradient(#ef9b1180, #40555880);
    min-height: 500px;
    padding: 0px, 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .thirdSection .girlwithphone {
    width: 50%;
  }
  .thirdSection .thirdSectiontext {
    padding-left: 30px;
    width: 50%;
  }
  .thirdSection .girlwithphone img {
    width: 50vw;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-right: 50px;
  }
  .thirdSection .finfreed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 6px;
    font-size: 17px;
  }
  .thirdSection .finfreed img {
    width: 20px;
  }
  .thirdSection h1 {
    padding: 5px 5px;
    font-size: 26px;
  }
  .thirdSection h3 {
    color: black;
    font-size: 35px;
    word-spacing: 16px;
  }
  .thirdSection p {
    padding-top: 15px;
    color: #fff;
    line-height: 30px;
    font-size: 1rem;
    color: black;
  }
  .thirdSection .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
  }
  .thirdSection .buttons button {
    width: 180px;
  }
}

.fourthSection {
  background-image: url(/images/section4bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 25px;
  padding-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.fourthSection .corebankpc {
  display: none;
}

.fourthSection .corebankmobile {
  margin-bottom: -4px;
}

.fourthSection .corebankmobile img {
  width: 45vw;
}

.fourthSection .fourthSectionDiv2 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
}

.fourthSection .fourthSectionDiv2 img {
  width: 20vw;
}

.fourthSection .fourthSectionDiv2 h3 {
  color: #eab221;
}

.fourthSection .fourthSectionDiv2 p {
  font-size: 3.3vw;
}

@media screen and (min-width: 770px) {
  .fourthSection {
    background-image: url(/images/section4bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px 25px;
    padding-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .fourthSection .corebankmobile img {
    display: none;
  }
  .fourthSection .corebankpc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fourthSection .corebankpc img {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 400px;
    padding: 0px 50px;
  }
  .fourthSection .fourthSectionDiv2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fourthSection .fourthSectionDiv2 .googlenapple {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .fourthSection .fourthSectionDiv2 img {
    width: 20vw;
  }
  .fourthSection .fourthSectionDiv2 h3 {
    color: #eab221;
  }
  .fourthSection .fourthSectionDiv2 p {
    font-size: 3.5vw;
    font-weight: bold;
  }
}

.fifthSection {
  padding: 0px 25px;
  padding-top: 50px;
  background-color: #ffbb0b80;
  min-height: 400px;
}

.fifthSection .boxnclient {
  padding: 10px;
}

.fifthSection .line {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
}

.fifthSection .comments {
  padding-left: 10px;
}

.fifthSection .clientcomment {
  border: 1px solid white;
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.fifthSection .clientcomment p {
  font-size: 13px;
}

.fifthSection .clientcomment .stars {
  color: #ffbb0b;
}

.fifthSection .clientcomment .stars span {
  color: #c0ccda;
}

.fifthSection .clientcomment__ {
  display: none;
}

@media screen and (min-width: 770px) {
  .fifthSection {
    padding: 0px 25px;
    padding-top: 50px;
    background-color: #ffbb0b80;
    min-height: 500px;
  }
  .fifthSection .boxnclient {
    padding-left: 50px;
  }
  .fifthSection .line {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0px;
  }
  .fifthSection .comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 50px;
  }
  .fifthSection .comments .clientcomment__ {
    border: 1px solid white;
    width: 30%;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    display: block;
  }
  .fifthSection .comments .clientcomment__ p {
    font-size: 13px;
  }
  .fifthSection .comments .clientcomment__ .stars {
    color: #ffbb0b;
  }
  .fifthSection .comments .clientcomment__ .stars span {
    color: #c0ccda;
  }
  .fifthSection .clientcomment {
    border: 1px solid white;
    width: 30%;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
  }
  .fifthSection .clientcomment p {
    font-size: 13px;
  }
  .fifthSection .clientcomment .stars {
    color: #ffbb0b;
  }
  .fifthSection .clientcomment .stars span {
    color: #c0ccda;
  }
}

@media screen and (min-width: 400px) and (max-width: 770px) {
  .fifthSection .clientcomment p {
    font-size: 18px;
  }
}

.footer {
  padding: 0px 50px;
  padding-top: 50px;
  background-color: #12082D;
  min-height: 500px;
}

.footer .sociallogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .sociallogos img {
  width: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5px;
}

.footer .store img {
  width: 150px;
}

.footer .linkncompany {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .linkncompany h3 {
  padding: 10px 0px;
}

.footer p {
  color: #fff;
}

.footer h3 {
  color: #ef9b11;
}
/*# sourceMappingURL=style.css.map */