@import "../modules/variable";
@import "../modules/color";
@import "../modules/mixin";

* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $myFont;
  font-size: 12px;
}
.firstHeader {
  background-color: $myGrey;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  height: 50px;
  align-items: center;
  color: $myWhite;
  .firstHeaderDiv1 {
    display: flex;
    gap: 10px;
  }
  .firstHeaderDiv2 {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  @media screen and (max-width: $mobile) {
    .nodisplay {
      display: none;
    }
  }
  @media screen and (min-width: $laptop) {
    .nodisplay {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.secondHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  .corebanklogo {
    cursor: pointer;
  }

  // @media screen and (min-width:$laptop) {
  //   .nodisplay {
  //     justify-content: space-between;
  //     width: 45%;
  //     // border: 2px solid blue;
  //     display: flex;
  //     gap: 30px;
  //     a{
  //       text-decoration: none;
  //       color: black;
  //     }
  //   }
  // }

  @media screen and (min-width: $mobile) {
    .nodisplay {
      justify-content: space-between;
      width: 40%;
      display: flex;
      gap: 30px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .nodisplay a {
      display: none;
      text-decoration: none;
    }
    .getStartednbutton {
      display: none;
    }
  }
  @media screen and (min-width: $mobile) {
    .threeLines {
      display: none;
    }
    .getStartednbutton {
      display: flex;
      width: 200px;
      // border: 2px solid red;
      justify-content: space-between;
      align-items: center;
      button {
        height: 25px;
        background-image: linear-gradient(#ef9b11, #405558);
        width: 80px;
        border-radius: 20px;
        color: $myWhite;
      }
      button:hover {
        zoom: 110%;
        color: white;
        cursor: pointer;
      }
    }
  }
}

// section{
//   padding: 0 25px;
//   background-image: url(/images/section1BGman.svg);
//   // background-position: right;
//   background-size: contain;
//   background-repeat: no-repeat;
//   width: 100%;
//   height: 500px;
//   div{
//     width: 65%;
//     align-items: center;
//     justify-content: center;
//     h1{

//     }
//   }
// }
.firstSection {
  background-image: url(/images/section1BGman.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  min-height: 40vw;
  display: flex;
  h1 {
    width: 80vw;
    padding-left: 6vw;
    padding-top: 40%;
    padding-top: 4vh;
    font-size: 35vw;
    padding: 0 25px;
    align-items: center;
    justify-content: center;
  }
  p {
    width: 60%;
    font-size: 11px;
    padding-left: 6vw;
    padding-top: 2vh;
    font-weight: 500;
    padding: 0 25px;
  }
  @media screen and (min-width: $mobile) {
    h1 {
      // width: 230vw;
      // padding-left: 6vw;
      padding-top: 40%;
      padding-top: 8vh;
      font-size: 30px;
    }
    p {
      width: 60%;
      // font-size: 11px;
      // padding-left: 6vw;
      // padding-top: 2vh;
      // font-weight: 500;
      // padding: 0 25px;
    }
  }
  @media screen and (max-width: $mobile) {
    h1 {
      // width: 230vw;
      padding-top: 10vh;
      font-size: 30px;
    }
    p {
      width: 70%;
      font-size: 10px;
      // padding-left: 6vw;
      // padding-top: 2vh;
      // font-weight: 500;
      // padding: 0 25px;
    }
  }
  @media screen and (max-width: 486px) {
    h1 {
      // width: 230vw;
      padding-top: 8vh;
      font-size: 30px;
    }
    p {
      width: 70%;
      font-size: 10px;
      // padding-left: 6vw;
      // padding-top: 2vh;
      // font-weight: 500;
      // padding: 0 25px;
    }
  }
  @media screen and (max-width: 300px) {
    h1 {
      width: 70%;
      padding-top: 8vh;
      font-size: 15px;
      line-height: 15px;
    }
    p {
      width: 70%;
      font-size: 8px;
    }
  }
  @media screen and (min-width: 520px) {
    h1 {
      // width: 230vw;
      padding-top: 8vh;
      font-size: 30px;
    }
    p {
      width: 70%;
      font-size: 15px;
      // padding-left: 6vw;
      // padding-top: 2vh;
      // font-weight: 500;
      // padding: 0 25px;
    }
  }
}
.secondSection {
  background-image: url(/images/SECTION2BG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  // min-height: 80vw;
  padding: 0 30px;
  // padding-left: 50px;
  h1 {
    font-size: 26px;
  }
  .line {
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
  }
  .majorBorder {
    .big_border {
      width: 100%;
      padding-top: 2%;
      border-radius: 15px;
      box-shadow: 1px 3px 3px #888888;
      background-color: white;
      // border: 3px solid green;
      div {
        padding-top: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        // border: 2px solid red;
        img {
          width: 80%;
          padding-top: 10px;
          padding-bottom: 10px;
          // border: 3px solid blue;
        }
      }
      h2 {
        font-size: 5vw;
        padding-left: 8vw;
      }
      p {
        padding-left: 8vw;
        font-size: 3vw;
        padding-bottom: 30px;
      }
    }
  }
  @media screen and (min-width: $mobile) {
    h1 {
      font-size: 39px;
    }

    .majorBorder {
      display: flex;
      // border: 2px solid red;
      min-height: 400px;
      justify-content: space-between;
      width: 100%;
      .big_border,
      .big_border2 {
        padding-bottom: 25px;
        width: 70vw;
        width: 31%;
        // height: 100%;
        min-height: fit-content;
        padding-top: 1%;
        border-radius: 15px;
        box-shadow: 1px 3px 3px #888888;
        background-color: $myWhite;
        // border:  2px solid red;
        gap: 20px;
        div {
          padding-top: 5px;
          padding-bottom: 5px;
          align-items: center;
          justify-content: center;
          display: flex;
          // border: 2px solid red;
          img {
            width: 90%;
            height: 250px;
            padding-top: 1px;
            object-fit: cover;
            padding-bottom: 20px;
          }
        }
        h2 {
          font-size: 1.8vw;
          padding-left: 3vw;
        }
        p {
          padding-left: 3vw;
          font-size: 1.8vw;
          padding-bottom: 10px;
          width: 100%;
        }
      }
    }
  }
}

.services {
  display: flex;
  padding-top: 2%;
  // border: 2px solid red;
  justify-content: space-evenly;
  > div {
    // display: flex;
    // flex-direction: column;
    padding-left: 15px;
    padding-top: 12px;
    align-content: center;
    // border: 2px solid blue;
    box-shadow: 1px 3px 3px #888888;
    width: 120px;
    height: 120px;
    justify-content: center;
    border-radius: 5px;
  }
  .loans:hover,
  .savings_:hover,
  .ebanking_:hover,
  .cards_:hover,
  .investment__:hover,
  .pos_:hover {
    box-shadow: 1px 3px 9px #888888;
  }
}
.services:hover {
  @extend .services;
  > div {
    // box-shadow: 1px 3px 9px #888888;
    // border: 2px solid red;
    cursor: pointer;
  }
}

@media screen and (max-width: $mobile) {
  .services {
    display: none;
  }
  .big_border2,
  .big_border3 {
    display: none;
  }
}

.thirdSection {
  background-image: linear-gradient(#ef9b1180, #40555880);
  min-height: 500px;
  padding: 25px 25px;
  .girlwithphone img {
    width: 75vw;
    align-content: center;
  }
  .whatwedo {
    display: none;
    // border: 2px solid red
  }
  .finfreed {
    display: flex;
    gap: 6px;
  }
  h1 {
    padding: 5px 5px;
    font-size: 26px;
  }
  h3 {
    color: $myWhite;
    font-size: 1.6rem;
  }
  p {
    color: $myWhite;
    line-height: 30px;
    font-size: 1rem;
  }
  .createAcctbtn button {
    background-image: linear-gradient(#ef9b11, #405558);
    width: 200px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #00000040;
    color: $myWhite;
  }
  .ebankingbtn button {
    background-color: transparent;
    width: 200px;
    height: 60px;
    color: $myWhite;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #00000040;
  }
}
@media screen and (min-width: $mobile) {
  .thirdSection {
    background-image: linear-gradient(#ef9b1180, #40555880);
    min-height: 500px;
    padding: 0px, 30px;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    .girlwithphone {
      width: 50%;
    }
    .thirdSectiontext {
      padding-left: 30px;
      width: 50%;
    }
    .girlwithphone img {
      width: 50vw;
      align-content: center;
      padding-right: 50px;
    }
    .finfreed {
      display: flex;
      gap: 6px;
      font-size: 17px;
      img {
        width: 20px;
      }
    }
    h1 {
      padding: 5px 5px;
      font-size: 26px;
    }
    h3 {
      color: black;
      font-size: 35px;
      word-spacing: 16px;
    }
    p {
      padding-top: 15px;
      color: $myWhite;
      line-height: 30px;
      font-size: 1rem;
      color: black;
    }
    .buttons {
      display: flex;
      gap: 4px;
      button {
        width: 180px;
      }
    }
  }
}
.fourthSection {
  background-image: url(/images/section4bg.png);
  // min-height: 500px ;
  background-size: cover;
  // background-color: white;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  padding: 0px 25px;
  padding-top: 50px;
  align-items: center;
  width: 100%;
  .corebankpc {
    display: none;
  }
  .corebankmobile {
    // border: 2px solid red;
    margin-bottom: -4px;
    // margin-right: -50px;
    img {
      // justify-content: end;
      width: 45vw;
    }
  }
  .fourthSectionDiv2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    // border: 2px solid red;
    img {
      width: 20vw;
    }
    h3 {
      color: #eab221;
    }
    p {
      font-size: 3.3vw;
      // font-weight: bold;
    }
  }
}
@media screen and (min-width: $mobile) {
  .fourthSection {
    background-image: url(/images/section4bg.png);
    // min-height: 500px ;
    background-size: cover;
    // background-color: white;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    padding: 0px 25px;
    padding-top: 50px;
    align-items: center;
    width: 100%;
    justify-content: center;
    .corebankmobile img {
      display: none;
    }
    .corebankpc {
      display: flex;
      img {
        // border: 2px solid blue;
        justify-content: end;
        width: 400px;
        padding: 0px 50px;
      }
    }
    .fourthSectionDiv2 {
      // width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border: 2px solid red;
      .googlenapple {
        padding-top: 20px;
        display: flex;
        gap: 20px;
      }
      img {
        width: 20vw;
      }
      h3 {
        color: #eab221;
      }
      p {
        font-size: 3.5vw;
        font-weight: bold;
      }
    }
  }
}
.fifthSection {
  padding: 0px 25px;
  padding-top: 50px;
  background-color: #ffbb0b80;
  min-height: 400px;
  .boxnclient {
    padding: 10px;
  }
  .line {
    justify-content: center;
    display: flex;
    padding: 20px 0px;
  }
  .comments {
    padding-left: 10px;
  }

  .clientcomment {
    border: 1px solid white;
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    padding: 25px;
    p {
      font-size: 13px;
      // font-size: 100%;
      // font-size: 4vw;
      // width: 60vh;
    }
    .stars {
      color: #ffbb0b;
      span {
        color: #c0ccda;
      }
      spans {
        color: #636366;
      }
    }
  }
  .clientcomment__ {
    display: none;
  }
}

@media screen and (min-width: $mobile) {
  .fifthSection {
    padding: 0px 25px;
    padding-top: 50px;
    background-color: #ffbb0b80;
    min-height: 500px;
    .boxnclient {
      padding-left: 50px;
    }
    .line {
      justify-content: center;
      display: flex;
      padding: 20px 0px;
    }
    .comments {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 50px;

      .clientcomment__ {
        border: 1px solid white;
        width: 30%;
        height: 180px;
        background-color: white;
        border-radius: 10px;
        // align-items: center;
        padding: 25px;
        display: block;
        p {
          font-size: 13px;
          // font-size: 100%;
          // font-size: 4vw;
          // width: 60vh;
        }
        .stars {
          color: #ffbb0b;
          span {
            color: #c0ccda;
          }
          spans {
            color: #636366;
          }
        }
      }
    }
    .clientcomment {
      border: 1px solid white;
      width: 30%;
      height: 180px;
      background-color: white;
      border-radius: 10px;
      // align-items: center;
      padding: 25px;
      p {
        font-size: 13px;
        // font-size: 100%;
        // font-size: 4vw;
        // width: 60vh;
      }
      .stars {
        color: #ffbb0b;
        span {
          color: #c0ccda;
        }
      }
    }
  }
}

@media screen and (min-width: 400px) and (max-width: $mobile) {
  .fifthSection {
    .clientcomment {
      p {
        font-size: 18px;
      }
    }
  }
}

.footer {
  padding: 0px 30px;
  padding-top: 50px;
  background-color: #12082d;
  min-height: 500px;
  text-decoration: none;
  .mytag {
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
  }
  .storepc {
    display: none;
  }
  .contacts_ {
    display: none;
  }
  .contacts {
    p {
      text-decoration: none;
      color: white;
    }
  }
  .sociallogos {
    display: flex;
    img {
      width: 40px;
      justify-content: space-evenly;
      display: flex;
      align-items: center;
      padding: 0px 5px;
      // border: 2px solid red;
    }
  }
  .store img {
    width: 150px;
  }
  .linkncompany {
    display: flex;
    justify-content: space-between;
    h3 {
      padding: 10px 0px;
    }
  }
  p {
    color: $myWhite;
  }
  h3 {
    color: #ef9b11;
  }
}
@media screen and (min-width: $mobile) {
  .footer {
    padding: 0px 30px;
    padding-top: 50px;
    background-color: #12082d;
    min-height: 500px;
    text-decoration: none;
    .secondfooterdic {
      justify-content: space-between;
      display: flex;
      gap: 15px;
      padding-left: 10px;
    }
    .footers {
      // border: 2px solid green;
      display: flex;
      justify-content: space-evenly;
      // width: 700px;
      // align-items: center;

      .footertext {
        width: 75%;
      }
    }
    .mytag {
      justify-content: center;
      display: flex;
      padding-bottom: 20px;
      width: 100%;
    }
    .store {
      display: none;
    }
    .storepc {
      display: block;
      img {
        padding-top: 5px;
      }
    }
    .contacts_ {
      display: block;
    }
    .contacts {
      display: none;
    }
    .sociallogos {
      display: flex;
      img {
        width: 40px;
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        padding: 0px 5px;
        // border: 2px solid red;
      }
    }
    .store img {
      width: 150px;
    }
    .linkncompany {
      display: flex;
      justify-content: space-between;
      // border: 2px solid red;
      gap: 20px;
      min-width: 450px;
      h3 {
        padding: 10px 0px;
      }
    }
    p {
      color: $myWhite;
    }
    h3 {
      color: #ef9b11;
    }
    .copyright {
      justify-content: center;
      display: flex;
    }
  }
}
