* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 14px;
}

.firstHeader {
  background-color: #40555880;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vh 7vw;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .firstHeader .mobiledisplay {
    display: none;
  }
}

.firstHeader .firstHeaderDiv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 48vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstHeader .firstHeaderDiv2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 46vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstHeader .firstHeaderDiv2 .flagngn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .secondHeader .show {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .secondHeader .secondHeaderDiv1 img {
    width: 150px;
  }
  .secondHeader .mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .secondHeader .mobiledisplay {
    display: none;
    list-style: none;
  }
}

.secondHeader .secondHeaderDiv2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondHeader .secondHeaderDiv2 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .secondHeader .secondHeaderDiv2 ul .mobiledisplay {
    display: none;
  }
  .secondHeader .secondHeaderDiv2 ul .mobiledisplay_t {
    display: none;
  }
}

.secondHeader .secondHeaderDiv3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondHeader .secondHeaderDiv3 button {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
  background-image: linear-gradient(#ef9b11, #405558);
  width: 90px;
  height: 30px;
  border-radius: 20px;
}

.show img {
  padding-right: 20px;
}

.secondHeaderDiv1 img {
  padding-left: 20px;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

@media screen and (min-width: 540px) {
  h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 60px;
  }
}

p {
  font-size: 1rem;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.3rem;
  }
}

.firstSection {
  background-image: url(/images/section1BGman.svg);
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  min-height: 340px;
  height: 70vh;
  width: 100%;
  padding: 0 7vw;
  color: #12082d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstSection * {
  max-width: 50%;
}

@media screen and (min-width: 768px) {
  .firstSection * {
    max-width: 65%;
  }
}
/*# sourceMappingURL=style.css.map */